body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #FF9933; /* Saffron Theme */
    color: #333;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.entry-header h1 {
    text-align: center;
    color: #D9534F;
}
p {
    text-align: justify;
}
.author-info {
    font-style: italic;
    font-size: 14px;
    color: #555;
    text-align: center;
}
.highlight {
    text-align: center;
    font-weight: bold;
    color: #008000;
    font-size: 18px;
}
.chaupai {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #990000;
}
.translation {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #008000;
}
.button-container {
    text-align: center;
    margin-top: 20px;
}
.button {
    background-color: #2bc470;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}
.button:hover {
    background-color: #248a57;
}